:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

// Wrapper alternative.
// Adds margins to the sides of the pages.
body > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    > * {
        width: 70rem;
        max-width: 100vw;
    }
}
