@use "abstracts" as *;

.dropdown-container {
    position: relative;

    & > .dropdown {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;

        color: black;
        background-color: white;
        border: 2px solid $color-primary;
        border-top: none;

        &.dropdown-right {
            left: unset;
            right: 0;
        }
    }

    &:hover .dropdown {
        display: unset;
    }
}

img.icon {
    display: inline-block;

    @include no-select;

    &.icon-small {
        height: 2.5rem;
    }

    &.icon-medium {
        height: 3.5rem;
    }

    &.icon-large {
        height: 5rem;
    }
}

.searchbox {
}
