@use "../abstracts" as *;

header {
    background-color: $color-secondary;

    > * {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        height: 5rem;
        padding: 0 1rem;
    }

    .icon {
        filter: invert(100%);
    }
}
