@use "sass:color";
@use "../abstracts" as *;

$color-hover: color.scale($color-primary-light, $alpha: -50%);

nav {
    height: 3rem;

    > ul {
        display: flex;
        flex-direction: row;
        height: 100%;

        > li {
            > :first-child {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100%;
                height: 100%;
                padding: 0 0.75rem;
            }

            > a {
                color: inherit;
                text-decoration: none;
            }

            &:hover > :first-child {
                background-color: $color-hover;
            }
        }
    }
}
