@use "../abstracts" as *;

#browse-page {
    #search-form {
        position: relative;
        border-bottom: $border-width solid $color-highlight;

        > :nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin-bottom: 1rem;

            background-color: $color-primary;
            color: $color-highlight;

            > div {
                display: flex;
                align-items: center;
                margin-top: 1rem;
            }

            // Over tablet-size:
            @media screen and (min-width: 1000px) {
                // Set the search bar to the side.
                flex-direction: row-reverse;
            }
        }

        > :nth-child(2) {
            position: absolute;
            width: 100%;

            border-bottom: $border-width solid $color-highlight;
            border-top: $border-width solid $color-highlight;
            background-color: $color-foreground;
            color: $color-text-1;

            > div {
                display: flex;
                flex-wrap: wrap;

                margin: 0.5rem 0;
                padding: 0 0.5rem;

                > * {
                    margin: 0.5rem;
                    @include no-select;
                }

                &#filter-tags {
                    color: $color-text-2;

                    h1 {
                        width: 100%;
                        color: $color-text-1;
                    }

                    small {
                        font-style: italic;
                    }

                    > div {
                        display: grid;
                        grid-template-columns: 1fr auto;

                        cursor: pointer;
                    }
                }
            }
        }

        .icon {
            filter: $color-filter-highlight;
        }
    }

    main #search-results {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem 0.75rem;

        margin: 2.5rem 1.5rem;

        > * {
            background-color: $color-foreground;
            aspect-ratio: 1.6;

            border: $border-width solid $color-highlight;
            border-radius: $border-width;
        }

        // Over mobile-size:
        @media screen and (min-width: 700px) {
            // Make the results appear in two columns.
            grid-template-columns: repeat(2, 1fr);

            // And make the #1 result HUGE.
            :first-child {
                grid-column: 1 / 3;
            }
        }
    }
}
