@use "../abstracts" as *;

#browse-page {
    aside {
        border-bottom: $border-width solid $color-highlight;
        background-color: $color-primary;
        color: $color-highlight;
    }

    #search-form {
        > :first-child {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            margin-bottom: 1rem;

            > div {
                display: flex;
                margin-top: 1rem;

                align-items: center;
            }
        }

        .icon {
            filter: $color-filter-highlight;
        }

        @media screen and (min-width: 800px) {
            flex-direction: row-reverse;
        }
    }
}
