@use "../abstracts" as *;

.highlight-box {
    padding: 0.5rem;
    border: $border-width solid $color-highlight;
    border-radius: $border-width;
}

.filter-box {
    padding: 0.2rem 0.3rem;
    border: $border-width solid $color-highlight;
    border-radius: $border-width * 4;
}
