@use "../abstracts" as *;

img.icon {
    display: inline-block;

    @include no-select;

    &.icon-small {
        height: 2.5rem;
    }

    &.icon-medium {
        height: 3.5rem;
    }

    &.icon-large {
        height: 5rem;
    }
}
