<form class="filters" id="filter-form">
    <div class="searchbox">
        <input
            type="search"
            name="filter_query"
            autocapitalize="none"
            autocomplete="off"
            autocorrect="off"
            placeholder="<%= locale.inputs.filter_query %>"
        />
    </div>
</form>
